body {
	background-color: #ffffb3;
}

h1 {                            
	color: #3366cc;
	text-align: center;
	text-decoration: none;
	text-indent: 50px;
	letter-spacing: 3px;
	text-shadow: 2px 1px black;
	font-family: "Franklin Gothic Heavy"
}

h2 {                            
	color: orange;
	text-shadow: 2px 1px black;
	text-align: center;
}

















































